/aopalliance-1.0.jar
/aspectj-1.7.1.jar
/aspectjweaver-1.7.1.jar
/commons-logging-1.2.jar
/jstl-1.2.jar
/spring-aop-4.2.4.RELEASE.jar
/spring-beans-4.2.4.RELEASE.jar
/spring-context-4.2.4.RELEASE.jar
/spring-core-4.2.4.RELEASE.jar
/spring-expression-4.2.4.RELEASE.jar
/spring-jdbc-4.2.4.RELEASE.jar
/spring-orm-4.2.4.RELEASE.jar
/spring-test-4.2.4.RELEASE.jar
/spring-tx-4.2.4.RELEASE.jar
/spring-web-4.2.4.RELEASE.jar
/spring-webmvc-4.2.4.RELEASE.jar
